<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WeatherService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <WeatherService.Properties.Settings>
            <setting name="WeatherService_gov_weather_graphical_ndfdXML"
                serializeAs="String">
                <value>http://graphical.weather.gov/xml/SOAP_server/ndfdXMLserver.php</value>
            </setting>
        </WeatherService.Properties.Settings>
    </applicationSettings>
</configuration>